@page "/articlepage/{articleid}"
@inject IRequestsService requestService

@if(_article is null)
{
    <div style="  display: flex;justify-content: center;align-items:center; flex-direction:column">
        <div class="loading-card-skeleton loading-description" style="width:95%; height:300px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:90%; height:50px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:90%; height:20px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:90%; height:300px;
            padding: 10px; border-radius: 5px;"></div>
    </div>
}
else
{
    <div>
    <img src="@_article.Image" height="300" style="width: 100%">
        <p style="margin: 10px 20px 0 10px; font-size: 26px; font-family: 'Noto Serif', serif;">
        @_article.Title
    </p>
    <div style="display: flex; margin: 10px 20px 0 10px;"> 
        <!--<span class="material-symbols-outlined" style="color:#C8C8C8; font-size:35px">account_circle</span> -->
        <div>
                <p style="color:#C8C8C8; margin-left: 10px; margin-top: -5px">
                    <span class="material-symbols-outlined" style="font-size: 14px;">
                        visibility
                    </span> 
                    @_article.Views
                </p>
            <p style="color:#C8C8C8; margin-left: 10px; margin-top: -20px;">@_article.PublishTime?.ToString("dd MMMM yyyy г. HH:MM")</p>
        </div>
            <button style="background-color: #4c43f0; margin-top:-10px; font-size: 30px; margin-left:auto; width: 50px; height: 50px;
                    display: flex; justify-content: center; align-items: center; border-radius:10px;" @onclick="AI_Clicked">
                <img height="32" width="32" src="/images/magicwand.png" />
            </button>

    </div>
        <p style="text-align: justify; text-justify: auto; margin: 0 20px 0 10px; font-size:16px; white-space: pre-wrap;"> 
            @_article.Text 
        </p>
    </div>
    <hr/>
    <p style="color: #C8C8C8; margin-left: 10px;">	Copyright &copy; 2023 StarNews. All Rights Reserved.</p>
}

@code {

    [Parameter]
    public Guid ArticleId { get; set; }
    private ArticleViewModel _article;

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            _article = await requestService.GetArticleById(ArticleId);
        }
        catch(Exception ex)
        {
            await Shell.Current.DisplayAlert("Ошибка!", $"Во время загрузки новости произошла ошибка: {ex.Message}", "OK");   
        }
    }

    private async Task AI_Clicked()
    {
        try
        {
            if (Preferences.Get("apiKey", string.Empty) != string.Empty)
            {
                await Shell.Current.Navigation.PushAsync(new BriefRetellPage(_article.Title, _article.Text));
                return;
            }

            string result = await Shell.Current.DisplayPromptAsync("Пересказ", "Для дотсупа к пересказу введите ключ OpenAI:",
                accept: "OK", cancel: "Отмена");
            if (string.IsNullOrWhiteSpace(result))
            {
                return;
            }
            Preferences.Set("apiKey", result);
            await AI_Clicked();
        }
        catch (Exception ex)
        {
            await Shell.Current.DisplayAlert("Ошибка!", ex.Message, "OK");
        }
    }
}
